.example-spacer {
    flex: 1 1 auto;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  button.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }

  mat-form-field {
    margin-right: 12px;
  }
