<h4 class="dispaly-4">Order Item</h4>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="billDetId" #billDetId="ngModel" [(ngModel)]="formData.billDetId">
  <input type="hidden" name="billNo" #billNo="ngModel" [(ngModel)]="formData.billNo">
  <input type="hidden" name="productName" #productName="ngModel" [(ngModel)]="formData.productName">
  <div class="form-group">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Item Name</label>
        <select name="productCode" #productCode="ngModel" [(ngModel)]="formData.productCode" class="form-control"
          (change)="updatePrice($event.target)" [class.is-invalid]="!isValid && formData.productCode==''">
          <option value="0">-Select-</option>
          <option *ngFor="let item of itemList" value="{{item.productCode}}">{{item.productName}}</option>
        </select>

      </div>
      <div class="form-group col-md-6">
        <label>MOU</label>
        <input name="mou" #mou="ngModel" [(ngModel)]="formData.mou" class="form-control" readonly>
      </div>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Item Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="sellingPrice" #sellingPrice="ngModel" [(ngModel)]="formData.sellingPrice" (onchange)="validationQty()" class="form-control"
          readonly>
      </div>
    </div>
    <!-- <div class="form-group col-md-6">
      <label>Stock Qty</label>
      <input name="stockQty" #stockQty="ngModel" [(ngModel)]="formData.stockQty" class="form-control" readonly>
    </div> -->

    <div class="form-group col-md-6">
      <label>Total</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="totalAmount" #totalAmount="ngModel" [(ngModel)]="formData.totalAmount" class="form-control" readonly>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Quantity</label>
        <input name="qty" type="number" #qty="ngModel" [(ngModel)]="formData.qty" class="form-control"
          (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.qty==0">
    </div>

  </div>

<!-- 
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input name="totalAmount" #totalAmount="ngModel" [(ngModel)]="formData.totalAmount" class="form-control" readonly>
    </div>
  </div> -->
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i>
      Close</button>
  </div>
</form>