mat-form-field{
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .ngForm{
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-dialog-content{
    margin-left: 100px;
    margin-right: 100px;
  }