<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
    <input name="billNo" type="hidden" #billNo="ngModel" [(ngModel)]="service.formData.billNo" class="form-control"
      readonly>
    <mat-toolbar color="grey">
      <span>New Bill</span>
      <span class="example-spacer"></span>
      <th>
        <a class="btn btn-outline-success" routerLink="/bill"><i class="fa fa-list"></i> Invoice List</a>
      </th>
    </mat-toolbar>
    <div class="container" name="billf">
      <div class="row">
        <div class="col-md-6">
          <!-- <div class="form-group">
            <label>Order No.</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">#</div>
              </div>
             
            </div>
          </div> -->
          <div class="form-group">
            <label>Customer</label>
            <select name="custId" #custId="ngModel" [(ngModel)]="service.formData.custId" class="form-control">
              <option value="">-Select-</option>
              <option *ngFor="let item of customerList" value="{{item.custId}}">{{item.custName}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <!-- <div class="form-group">
            <label>Payment Method</label>
            <select name="pMethod" #pMethod="ngModel" [(ngModel)]="service.formData.pMethod" class="form-control">
              <option value="">-Select-</option>
              <option value="Cash">Cash</option>
              <option value="Card">Card</option>
            </select>
          </div> -->
          <div class="form-group">
            <label>Grand Total</label>
  
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input name="totalAmount" #totalAmount="ngModel" [(ngModel)]="service.formData.totalAmount"
                class="form-control" readonly>
            </div>
          </div>
        </div>
      </div>
      <!-- order items table-->
      <table class="table  table-striped table-bordered table-hover">
        <thead>
          <th>Item Code</th>
          <th>Item Name</th>
          <th>Measurement of Unit(MOU)</th>
          <th>Selling Price</th>
          <th>Quantity</th>
          <th>Total Amount</th>
          <th>
            <a class="btn btn-sm btn-success text-white" style="justify-content: center;"
              (click)="AddOrEditOrderItem(null,service.formData.billNo)"><i class="fa fa-plus"></i> Add Item</a>
          </th>
        </thead>
        <tbody>
          <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
            <td class="font-italic text-center" colspan="5">
              No items selected for this order.
            </td>
          </tr>
  
          <tr *ngFor="let item of service.orderItems;let i=index;">
            <td>{{item.productCode}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.mou}}</td>
            <td>{{item.sellingPrice}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.totalAmount}}</td>
            <td>
              <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.billNo)"><i
                  class="fa fa-pencil"></i></a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.billNo,i)"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="form-group">
  
        <div class="row">
          <div class="col-md-2">Totoal Qty</div>
          <div class="col-md-3">
            <input name="totalQty" #totalQty="ngModel" [(ngModel)]="service.formData.totalQty"
              class="form-control" readonly>
          </div>
        </div>
  
      </div>
  
      <div class="form-group">
  
        <div class="row">
          <div class="col-md-2">Totoal Amount</div>
          <div class="col-md-3">
            <input name="totalAmount" #totalAmount="ngModel" [(ngModel)]="service.formData.totalAmount"
              class="form-control" readonly>
          </div>
        </div>
  
      </div>
  
      <div class="form-group">
  
        <div class="row">
          <div class="col-md-2">Pay Amount</div>
          <div class="col-md-3">
            <input type="number" name="payAmount" #totalAmount="ngModel" [(ngModel)]="service.formData.payAmount" (keyup)="validationAmount()"
              class="form-control">
          </div>
        </div>
  
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">Return Amount</div>
          <div class="col-md-3">
            <input name="returnAmount" #returnAmount="ngModel" [(ngModel)]="service.formData.returnAmount"
              class="form-control" readonly>
          </div>
        </div>
  
      </div>
  
      <div class="form-group">
        <div class="row">
          <div class="col-md-2"></div>
          <div style="margin: 5px;" class="col-md-1.5">
            <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>
          </div>
  
          <div style="margin: 5px;" class="col-md-1.5">
            <button type="button" class="btn btn-danger" (click)="resetForm()"><i class="fa fa-close"></i> Clear</button>
          </div>
  
        </div>
      </div>
    </div>
  </form>