<h1 style="margin-left: 10px;" class="dispaly-4">Dashboard</h1>
<span class="example-spacer">
    <div style="margin-left: 10px; margin-right: 10px;" class="row">
        <div class="col-lg-3">
            <h2>Daily Sales Bar Chart</h2>
            <canvas id="barchart"></canvas>
        </div>
        <div class="col-lg-3">
            <h2>Daily Sales Pie Chart</h2>
            <canvas id="piechart"></canvas>
        </div>

        <div class="col-lg-3">
            <h2>Top Product Sale Bar Chart </h2>
            <canvas id="productBarchart"></canvas>
        </div>
        <div class="col-lg-3">
            <h2>Top Product Sale Pie Chart</h2>
            <canvas id="productPiechart"></canvas>
        </div>
    </div>
</span>